@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Jacquard+12&display=swap');

.navbar-text{
  margin-left: 10px;
  text-decoration: none;
  align-items: center;
}




.footer-navbar .nav-link {
  color: #fff; /* Cor dos links dentro do Navbar */
}

.footer-navbar .nav-link:hover {
  color: #FF914D; /* Cor dos links ao passar o mouse (opcional) */
}

.custom-toggle-button {
  background-color: transparent; /* Fundo transparente por padrão */
  border: 1px solid #000000; /* Cor da borda preta */
  color: #000000; /* Cor do texto preta */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transições suaves */
  border-radius: 0; /* Remove a borda arredondada se desejar */
}

/* Define o estilo quando o ToggleButton está selecionado */
.custom-toggle-button.active, .custom-toggle-button:focus {
  background-color: #000000; /* Cor de fundo preta quando selecionado */
  color: #ffffff; /* Cor do texto branca quando selecionado */
  border-color: #000000; /* Cor da borda preta quando selecionado */
}

/* Define o estilo quando o ToggleButton está sendo hoverado */
.custom-toggle-button:hover {
  background-color: #000000; /* Cor de fundo preta ao passar o mouse */
  color: #ffffff; /* Cor do texto branca ao passar o mouse */
  transform: scale(1.05); /* Leve aumento do tamanho do botão */
}


.column {
  width: 200px;
  min-height: 200px;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}


.column {
  width: 200px;
  min-height: 200px;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}


.card {
  padding: 10px;
  border: 1px solid #000;
  background-color: #f9f9f9;
  cursor: move;
}


