@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Jacquard+12&display=swap');

.navbar-text{
  margin-left: 10px;
  text-decoration: none;
  align-items: center;
}

header{
  background-color: #ffffff;
  color: #ffffff;
  height: 10vh;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


#footer{
  color: black;
  margin: 0;
  background-color: #ffffff;
  height: 25vh;
  padding: 0% 10%;
  width: 100%;
}

Nav{
  font-family: sans;
  color: #ffffff;
  font-size: 15px;
}
.nav-link.dropdown-toggle {
  color: #ffffff !important;
}



body{
  margin: 0;
}

@media (max-width: 768px){
  .card-body-sobre{
    display: grid;
  }
  .botaologin{
    margin-top: 10px;
  }
  
}


h4{
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}




.brygada-1918 {
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.NavLink{
  position: relative;
  color: #fff;
}

.NavLink::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #050404;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.NavLink:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.wrapper {
  position: fixed; /* Alterado de relative para fixed */
  top: 0;
  left: 0;
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  background: rgba(255, 255, 255, .5);
  border-radius: 0; /* Sem bordas arredondadas para cobrir toda a tela */
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
  z-index: 99999; /* Garante que o card fique acima de outros elementos */
}

.wrapper.active-popup {
  transform: scale(1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: bisque; /* Adiciona um fundo escuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: none;
}
/* Estrutura básica da porta com maçaneta */
.porta {
  width: 200px;
  height: 400px;
  background-color: #654321;
  position: relative;
  transform-origin: 0% 50%; /* Pivô da rotação na lateral esquerda */
  transition: transform 2s ease-in-out;
  box-shadow: inset -1px 0 0 0 #333; /* Sombra interna para simular a maçaneta */
}

/* Estilo da maçaneta */
.macaneta {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%; /* Circular */
  position: absolute;
  right: 10px; /* Posicionada na borda direita da porta */
  top: 50%;
  transform: translateY(-50%); /* Centralizada verticalmente */
}

/* Efeito de abertura da porta quando a classe .porta-aberta é adicionada */
.porta.porta-aberta {
  transform: rotateY(-120deg); /* Rotação para simular a abertura */
}

/* Efeito de abertura da porta */
.porta.porta-aberta {
  transform: rotateY(-120deg); /* Rotação para simular a abertura */
  transition: transform 1s ease-in-out; /* Duração da animação da porta */
}

/* Efeito de zoom */
.zoom {
  animation: zoomIn 2.5s forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
    opacity: 0;
  }
}

.fundo{
  background-color: #050404;
}

.card-zoom {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.card-zoom:hover {
  transform: scale(1.1);
}

@media (max-width: 768px){
  #home{
    top: 25%;
    left: 25%;
    font-size: 10px;
    padding: 0px 0px 0px 15px;
  }
  #margem{
    margin-top: 0px;
  }
}

/* Estilo padrão para telas menores */
.custom-navbar {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
}

/* Estilo para telas maiores */
@media (min-width: 992px) {
  .custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ajuste a largura conforme necessário */
    height: 100%;
    justify-content: flex-start;
  }

  .custom-navbar .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-navbar .navbar-brand {
    margin-bottom: 1rem;
  }

  .custom-navbar .navbar-toggler {
    display: none;
  }

  .custom-navbar .offcanvas {
    display: none;
  }

  .custom-navbar .nav {
    flex-direction: column;
    width: 100%;
  }

  .custom-navbar .nav-link {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
  }
}
